@import "variables";

.root {
  position: relative;
  display: flex;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 3;
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;  
  display: flex;
  transition: left ease-in-out $transition-duration,
              opacity ease-in-out $transition-duration;
  z-index: 2;

  @media (max-width: $tablet-width) {
    opacity: 0;
    left: -100vw;
    right: auto;
    top: $header-height;
    z-index: 4;

    &.mobile_menu_opened {
      background-color: $app-light-bg;
      opacity: 1;
      left: 0;
      padding-top: $padding-sm;
      padding-right: $padding-sm;
    }
  }
}

.content {
  position: relative;
  margin-left: $side-menu-width;
  flex-grow: 1;
  z-index: 2;
  transition: margin-left ease-in-out $transition-duration,
              opacity ease-in-out 0.3s;
  max-width: calc(100% - $side-menu-width);

  @media (max-width: $tablet-width) {
    padding-top: $header-height;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
}

.flex {
  display: flex;
}

.menu_hide {
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}